@charset "utf-8";
/*头部-广告和右侧导航*/
.top{
    position: relative;
}
.ad,.ad img{
    width: 492px;
    height:41px;
}
.top-nav{
    line-height: 40px;
    height: 40px;
}
.top-nav  li{
    float: left;
}
.top-nav a{
    font-size: 12px;
    color: #757575;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    position: relative;
/*    _top:2px;*/
}
.top-nav span{
    color: #020202;
    width: 1px;
    height: 8px;
    overflow: hidden;
    background-color: #000;
    float: left;
    margin: 16px 10px;
    /*
        pc 端 chrome 不允许小于12px的文字
    */
}


/*导航样式*/
.nav-box{
	background-color: #393742;
	border-top: #dfdfdf solid 1px;
	margin-top: -1px;
}
.logo,.logo img{
	width: 120px;
	height: 47px;
	background: url(../images/logo.jpg) left top no-repeat;
	margin-top: 7px;
	margin-right:40px;
}
.logo a{
    display: block;
    height: 100%;
}
.nav_list{
	font: 12px/60px "Microsoft YaHei","微软雅黑";
}
.nav_list li{
	float: left;
}
.nav_list a{
	color: #eeeff3;
	padding: 0 30px;
	display: inline-block;
}
.nav_list a:hover{
    background-color: #4b4953;
}

.nav_sel li{
	float: left;
	margin-left: 12px;
}
.btn_sel{
	display: inline-block;
	height: 32px;
	font: 12px/32px "Microsoft YaHei","微软雅黑";
	width: 115px;
	margin: 14px 0;
	text-align: center;
	background-color: #dd3a29;
	color: #fff;
}
.user_head{
	position: relative;
	margin:12px 0 0 14px;
}
.user_head,.user_head img{
	width: 37px;
	height: 37px;
}
.user_menu{
	position: absolute;
	right: 0;
	top: 48px;
	width: 118px;
	border: solid 1px #fff;
	padding: 5px;
}
.sj1,.sj2{
	overflow: hidden;
	position: absolute;
}
.sj1{
	border-width: 0 6px 7px;
	border-style: dashed dashed solid;
	border-color: transparent transparent #ecf0f3;
	right: 10px;
	bottom: 100%;
}

.sj2{
	border-width: 0 5px 6px;
	border-style: dashed dashed solid;
	border-color: transparent transparent #fff;
	right: 11px;
	bottom: 100%;
}
.user_menu dd{
    margin-bottom: 1px;
}
.user_menu a{
    display: block;
    height: 30px;
    font: 12px/30px "Microsoft YaHei","微软雅黑";
    padding-left: 17px;
    padding-right: 16px;
    background-color: #ccc;

    text-overflow: ellipsis;/*文字如果超出后，以省略号的形式展现*/
    width: 85px; /*通过宽度断定超出*/
    overflow: hidden;/*超出要裁掉*/
    white-space: nowrap;/*文字不换行*/
}

/*焦点图*/
.banner{
	width: 497px;
	height: 246px;
	position: relative;
	overflow: hidden;
}
.banner_list{
	position: absolute;
	left: 0;
	top: 0;
	width: 500%;
}
.banner_list li{
	float: left;
	position: relative;
}
.banner_list img{
	width: 497px;
	height: 246px;
}

.banner_fd{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: #fff;
}
.banner_fd h3{
	font: 14px/16px  "Microsoft YaHei","微软雅黑";
	height: 16px;
	border-left: solid 3px #dd3a29;
	padding-left: 8px;
	margin: 12px 9px;
}

.prev,.next{
	width: 30px;
	height: 50px;
	background-color: rgba(0,0,0,.6);
	position: absolute;
	top: 50%;
	margin-top: -45px;
}

.prev{
	left: 0;
}
.next{
	right: 0;
}
.circle{
	position: absolute;
	left: 50%;
	margin-left: -70px;
	bottom: 45px;
}
.circle span{
	float: left;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: #ccc;
	text-align: center;
	line-height: 18px;
	font-size: 12px;
	margin: 0 5px;
	cursor: pointer;
}
.circle .active{
	background-color: red;
	color: #fff;
}



.news_box{
	background-color: #fff;
	width: 497px;
	height: 246px;
}
.news_nav{
	height: 42px;
	font: 12px/42px "Microsoft YaHei","微软雅黑";
	padding:0 3px; 
}
.news_nav li{
	float: left;
}
.news_nav a{
	display: inline-block;
	padding:0 14px; 
	color: #393742;
}
.news_nav .active{
	color: red;
}

.news_bd{
	padding: 7px 20px 0;
}
.big_title{
	height: 41px;
	font: 16px/41px "Microsoft YaHei","微软雅黑";
	text-align: center;
	color: #dd3a29;
}




/*公用列表*/
.list{
	font: 12px/30px "Microsoft YaHei","微软雅黑";
}
.list li{
	height: 30px;
	vertical-align: top;
}
.list li span,.list li a{
	float: left;
}
.list li a{
	color: #4b4953;
}
.list li span{
	color: #ccc;
}
.list li em{
	float: right;
	color: #999;
}

.mod_list{
	padding: 0 10px;
}
.mod_list .list li{
	line-height: 35px;
	height: 35px;
}
.mod_list1 .list a{
	color: red;
}
.mod_list1 .list span{
	color: #000;
}



.img_list{
	margin-top: 10px;
}

.item_hide{

}

.item,.mod_item{
	width: 245px;
	margin-right: 7px;
	float: left;
}
.item{
	height: 184px;
	position: relative;
	font-size: 12px;
	margin-bottom: 30px;
}
.item_ct,
.item_ct img{
	width: 245px;
	height: 149px;
}
.item_fd{
	height: 35px;
	line-height: 35px;
	padding: 0 8px;
}
.gonghui{
	float: left;
	color: #ccc;
}
.join_link{
	float: right;
	color: #ccc;
}

.item_hide{
	position: absolute;
	left: 0;top: 0;
	width:100%;
	height: 100%;
	display: none;
}

.item_active .item_hide{
    display: block;
}
.item_hide .item_ct{
	background-color: rgba(255,255,255,.8);
}
.item_hide ul{
	padding: 14px 10px 0;
}
.item_hide li{
	height: 25px;
	line-height: 25px;
	vertical-align: top;
}
.num{
	float: left;
	margin-right: 7px;
	color: red;
}
/*超出宽度显示省略号*/
.link{
	width: 98px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	float: left;/*浮动支持宽高*/
	font-family: "Microsoft YaHei","微软雅黑";/*将省略号弄到下标*/
	margin-right: 14px;
	color: #666;
}
.people{
	float: left;
	color: #999;
}


/*.item,.mod_item{
	width: 245px;
	margin-right: 7px;
	float: left;
}*/
/*栅格化，mod_item表示一个栅格，w2表示两倍的mod_item宽度*/
.row{
	margin-right: -8px;
}
.w2{
	width: 497px;
}
.w3{
	width: 749px;
}













.gHeader_cont{
	margin:0 10px;
	border-bottom: solid 1px #F0F0F0;
	font-family:  "Microsoft YaHei","微软雅黑";
}
.hd_default{
	line-height: 44px;
	border-bottom: none;
}
.hd_big{
	line-height: 50px;
	border-bottom: none;
}

.title_16{
	float: left;
	font-size: 16px;
	color:#999;
}
.title_16 span{
	color: red;
}
.more_14{
	float: right;
	font-size: 14px;
	color:#ccc;
}
.title_18{
	float: left;
	font-size: 18px;
	color:#999;
}






.gWidth{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
/*globle*/
.hide{
    display: none;
}
.blc{
	display: block;
}
.bg_qian{
	background-color: #eeeff3;
}
.bg_shen{
	background-color: #e0e1e6;
}
.pt30{
	padding-top: 30px;
}
.pd30{
	padding-bottom: 30px;
}
.pd100{
	padding-bottom: 100px;
}
.mt30{
	margin-top: 30px;
}
.bgWhiter{
	background-color: #fff;
}